body{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.header .container{
    padding: 120px 156px 122px;
}
.header {
    background-color: #4694DC;
}
.header-h1 {
    font-weight: 600;
    font-size: 56px;
    color: #fff;
    padding-bottom: 36px;
}
.haeder-p {
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    max-width: 437px;
    padding-bottom: 46px;
}
.header-btn {
    display: block;
    background-color: #fff;
    width: 194px;
    height: 60px;
    padding: 20px 39px;
    color: #000;
    text-decoration: none;
}

.blok {
    margin: 0 auto;
    text-align: center;
}
.blok-h2 {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.21em;
    color: #000;
    text-transform: uppercase;
    padding-bottom: 24px;
}
.blok-p {
    display: inline-block;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #9ca3af;
    max-width: 465px;
}

.services {
    padding-top: 100px;
    padding-bottom: 60px;
}
.services-flex-box {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-top: 79px;
}
.services-flex-item {
    max-width: 280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.services-img {
    align-self: center;
    padding-top: 38px;
    padding-bottom: 25px;
}
.services-flex-p {
    align-self: center;
}
.teams .container {
    padding-top: 138px;
    padding-bottom: 142px;
}
.teams-flex-box {
    display: flex;
    gap: 50px;
    justify-content: center;
}
.teams-items {
    display: flex;
    align-items: center;
    width: 260px;
    margin-top: 77px;
    box-shadow: 0 4px 70px 0 rgba(91, 93, 99, 0.06);
}
.teams-img {
    padding: 25px 8px 20px 20px;
}
.teams-item-cotent-h2 {
    font-weight: 500;
    font-size: 12px;
    padding-bottom: 4px;
}
.teams-item-cotent-p {
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
}




@media screen and (max-width: 1200px){
    .header .container{
        padding: 120px 30px 122px;
    }
}
@media screen and (max-width: 992px){
    .services-flex-box {
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }
    .teams-flex-box {
        flex-direction: column;
        gap: 0;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    .teams-items {
        margin-top: 30px;
    }
    .teams .container {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
@media screen and (max-width: 768px){}
@media screen and (max-width: 576px){
    .header .container{
        padding: 60px 30px 62px;
    }
    .header-h1 {
        font-size: 40px;
    }
    .blok-p {
        padding-left: 20px;
        padding-right: 20px;
    }
}